os: linux
language: shell
install: skip

before_deploy:
  - if [[ $TRAVIS_TEST_RESULT == "1" ]]; then export BUILD=success; fi
deploy:
  provider: s3
  script: ./deploy.sh
  on:
    branch: minimal-build-check
    condition: $BUILD = success
  edge: true

jobs:
  include:
    - name: PASSING
      script:
        - sleep 2
    - name: FAILING
      script:
        - false
