language: ruby
ruby: 2.7.6
git:
  submodules: false
  quiet: true

before_install:
  - git submodule update --init --recursive --quiet
install: skip

#before_script:
  #- timeout 30 sh -c 'until nc -z $0 $1; do sleep 1; done' localhost 9200

script:
  # https://docs.travis-ci.com/user/environment-variables/#default-environment-variables
  - echo $TRAVIS_BRANCH
  - echo $TRAVIS_PULL_REQUEST_BRANCH
